  <footer class="page-footer font-small">
    <div class="container p-3 pb-0">
      <div class="row justify-content-center d-flex flex-wrap">
        <div class="col col-md-5 col-auto d-flex text-start">
          <small class="text-muted">
            <p>
              <span class="fw-semibold">Site version:</span> <code>{{site_version}}</code>
              <br><span class="fw-semibold">Generated on:</span> <code>{{date}}</code>
            </p>
            <p>
              :: GO TO <i class="bi bi-github"></i> <a href="https://github.com/PrZ3r/MSRBot.io" target="_blank">https://github.com/PrZ3r/MSRBot.io</a> <i class="bi bi-github"></i> TO CONTRIBUTE ::
            </p>
          </small>
        </div>
     
        <div class="footer-copyright col col-auto d-flex col-md-7 text-end">
          <small class="text-muted">
            <p>
              ALL INFORMATION PRESENTED HERE IS STRICTLY VOLUNTARY, SHOULD NOT BE USED FOR IMPLEMENTING PRODUCTS, NO WARRANTY EXPRESSED OR IMPLIED. PROVIDED FOR CONVENIENCE ONLY, USE AT YOUR OWN RISK. 
            </p>
            <p>
              Copyright © 2025 <a href="https://github.com/SteveLLamb/" target="_blank">Steve LLamb</a> and <a href="https://github.com/PrZ3r/" target="_blank">PrZ3</a>; <span class="fst-italic">
              See <a href="https://github.com/PrZ3r/MSRBot.io/blob/main/LICENSE.md" target="_blank">LICENSE</a> and <a href="https://github.com/PrZ3r/MSRBot.io/blob/main/README.md" target="_blank">README</a> for Data Disclaimer.</span>
            </p>
            
          </small> 
        </div>
      </div>  
    </div>
  </footer> 
</body>
</html>